table {
    
    width: 100%;
    
}
table,th,td {
    border: 1px solid black;
    
}


#header {
    background-color: red;
    width: 250px;;
    height: 75px;
}

#yanMenu{
    
    height: 100px;
    width: 70px;
}

#reklam {
    width: 500px;
    height: 100px;
}

#govde {
    height: 500px;
    width: 70px;

}