p {
    color: black;
    background-color: grey;
    /* margin: 5px; */
    /* padding: 5px; */
    /* top,right,bottom,left */
    /* padding: 5px 5px 5px 5px; */
    
    padding-left: 5px;
    margin-left: 15px;
    width: 50%;
    height: 125px;
    
    border: 1px solid red; /* top,right,bottom,left */
    border-left: 3px solid red; /* Sol Kalınlık */
    border-bottom: 3px solid red;
}

table,
th,
td {
    border: 1px solid black;
}

#yanMenu {
    
}