p{
    background-color: grey;
}

table {
    width: 100%;
}

th, td {
    border: 1px solid black;
}

#baslik{
    height: 75px;
    text-align: left;
}
#kategori{

    height: 40px;
}

#yanMenu{
    width: 250px;
    height: 250px;
}

#yanMenuIcerik {
    margin-bottom: 20px;
}

#reklam{
    width: 500px;
    height: 125px;
}

#govde{
    width: 500px;
    height: 500px;
}
#footer{
    width: 500px;
    height: 50px;
}
#resim{
    width: 100px;
    height: 75px; 
    border-bottom: 5px solid green;
    
}

.tableMenu+ div{
    padding: 100px;
}
.menuDiv{

    border:1px solid black;

}
.baslikDiv{
    height: 75px;
    text-align: left;
    border:1px solid black;
}
.yanMenuDiv{
    width: 250px;
    height: 250px;
}