.container {
    width: 100%;
}

.wrapper {
    /* clear: both; */
}

.border {
    border: 3px solid #000;
    /* border-radius: 5px; */
    /* border-radius: 2px 1px 3px 2px ; */
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
}

.leftMenu {
    display: flex;
    width: 250px;
    height: 300px;
    margin: 5px;
    /* margin: 5px 0 5px 0; */
    margin: 5px 0; /* Yukarı-Aşağı, Sağ-Sol */
    /* margin-right: 3px; */
    float: left;
}

.mainMenu {
    display: flex;
    width: 750px;
    height: 300px;
    text-align: center;
    font-weight: 400;
    float: left;
}

.mainMenu:hover {
    text-decoration: underline;
    cursor: crosshair;
}

.container .wrapper header {
    height: 125px;
}

footer {
    text-align: right;
    height: 75px;
}

.container .wrapper .mainMenu article {
    font-size: 12px;
}

/* .container article {
    font-size: 14px;
} */

@media screen and (max-width: 600px) {
    .container .wrapper header {
        height: 50px;
    }

    .leftMenu {
        width: 100px;
        height: 150px;
    }

    .mainMenu {
        width: 375px;
        height: 150px;
        background: gray ;
    }
    
    footer {
        height: 50px;
        /* vertical-align: middle; */
    }
}

/*
    width: genişlik px, pt, %
    height: yükseklik px, pt, %
    background: arkaplan durumu
    border: kenar kalınlıkları / kalınlık
        border: 1px;
        border-style: solid;
        border-color: #000;
        border: 1px solid #000;
    border-radius: 1px; // top, right, bottom, left
    margin: eleman boşlukları 5px 5px 5px 5px (eleman içinde öteler ref: images/paddingmargin.png)
    padding: eleman boşluk 5px 5px 5px 5px (elemanın dışında öteler ref: images/paddingmargin.png)
    text-align: ifadeyi (metni) yaslamak için kullanılır (sağ, sol, ortalı, iki-yana)
    text-decoration: underline; ifadenin altı çizgili olmasını sağlar.
    font-size: 12px // font büyüklüğü
    font-family: 'Arial' // font ailesini temsil eder.
    font-weight: bold // fontun (yazıtipi) ağırlığını (kalınlığını) temsil eder.
    float: left // sola yaslar (seçili elamanın tamanını)
    position: yer tutucu (bulunduğu yeri belirlemek için kullanılır. Varsayılan 'relative'
*/