p{
    background-color: rgb(128, 128, 128);
}  
h1 {
    color:yellow;
}
    table, th, td {
        border:1px solid black;
        width: 100%;
      }
    #header{
        height: 75px;
    }
    
    #category{
        height: 40px;
    }
    
    #yanMenu{
        height: 250px;
    }
    
    #reklamAlani{
        height: 500px;
    }
    
    #govde{
        height: 500px;
    }
    
    #footer{
        height: 500px;
    }
div {
  color: red; 
}







    