p {
    color: black;
    background-color: grey;
    /* margin: 5px; */
    /* padding: 5px; */
    /* top,right,bottom,left */
    /* padding: 5px 5px 5px 5px; */
    
    padding-left: 5px;
    margin-left: 15px;
    width: 50%;
    height: 125px;
    
    border: 1px solid red; /* top,right,bottom,left */
    border-left: 3px solid red; /* Sol Kalınlık */
    border-bottom: 3px solid red;
}

table {
    width: 100%;
}

th, td {
    border: 1px solid black;
}

#yanMenu {
    width: 250px;
    height: 500px;
}

#reklamAlani {
    width: 500px;
    height: 125px;
}

#govde {
    width: 500px;
    height: 500px;
}

#footer {
    height: 50px;
}

th {
    padding: 5px;
    text-align: left;
}